<!--div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div-->

<div style="background-color: rgb(232, 232, 232);">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6" style="align-items: center;display: flex;">
          <div class="col-md-2"><span class="span-title">Events</span></div>
          <div class="col-md-10">
            <input type="text" class="form-control floating-label" placeholder="Task" ng-model="todoTask">
          </div>
      </div>
      <div class="col-md-6">
          <button class="btn btn-raised btn-color" ng-click="addTask()">Add New</button>
          <button class="btn btn-raised btn-color">Sort</button>
      </div>
    </div>
  </div>   
</div>
<div style="background-color: white">
  <table class="table table-hover ">
  <thead>
  <tr>
    <th>#</th>
    <th>COMPLETED</th>
    <th>TASK</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in todoList">
    <td>{{$index+1}}</td>
    <td><input type="checkbox" ng-model="item.done"</td>
    <td>{{item.task}}</td>
  </tr>
  </tbody>
</table>
</div>
